/* Estilos gerais */
@media screen and (max-width: 768px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul {
        display: none;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        display: block;
    }

    nav input[type="checkbox"] {
        display: block;
    }

    nav input[type="checkbox"]:checked ~ ul {
        display: block;
    }

    .image-item {
        flex-basis: 100%;
    }
}

/* Seção de filmes e bandas */
@media screen and (max-width: 768px) {
    .image-grid {
        justify-content: center;
    }
}

/* Seção de últimos artigos */
@media screen and (max-width: 768px) {
    #home h2 {
        text-align: center;
    }

    #home h3 {
        text-align: center;
    }
}

/* Seção de categorias */
@media screen and (max-width: 768px) {
    #categorias h2 {
        text-align: center;
    }

    #categorias h3, #categorias h4, #categorias h5 {
        text-align: center;
    }
}

/* Seção Sobre */
@media screen and (max-width: 768px) {
    #sobre h2 {
        text-align: center;
    }
}